<app-nav-bar></app-nav-bar>
<div class="container table-responsive">
  <div class="row">
    <a class="btn btn-info btn-xs pull-right" routerLink="/admin/userDefine" >
      <span class="glyphicon glyphicon-plus-sign"></span>
    </a>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Kullanıcı Adı</th>
        <th>Bölümü</th>
        <th>Bölüm Müdürü</th>
        <th>Seyahat Bilgilendirme</th>
        <th class="text-center">İşlemler</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userList">
          <td>{{user.username}}</td>
          <td>{{user.department}}</td>
          <td>{{user.departmentHeader}}</td>
          <td>{{user.period}}-{{user.dayOfPeriod}}</td>
          <td class="text-center">
            <a [routerLink]="['/admin/editUser', user.id]"class="btn btn-success btn-xs">
              <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a class="btn btn-danger btn-xs" (click)="onDelete(user)">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
