<app-nav-bar></app-nav-bar>
<br/><br/><br/>
<div class="row">
  <div class="col-lg-5 col-lg-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Seyahat Detayı</strong>
      </div>

      <div class="panel-body">
        <form class="form-horizontal" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label class="col-sm-4 col-md-3 col-lg-3 control-label">Seyahat Yeri</label>
            <div class="col-sm-8 col-md-6 col-lg-5">
              <input type="text" class="form-control"
                     name="destination"
                     id="destination"
                     [(ngModel)]="newTravel.destination"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 col-md-3 col-lg-3 control-label">Gidiş Amacı</label>
            <div class="col-sm-8 col-md-6 col-lg-5">
              <input type="text"
                     class="form-control"
                     name="purpose"
                     [(ngModel)]="newTravel.purpose"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 col-md-3 col-lg-3 control-label">Proje Kodu</label>
            <div class="col-sm-8 col-md-6 col-lg-5">
              <input type="text"
                     class="form-control"
                     name="projectCode"
                     [(ngModel)]="newTravel.projectCode"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-4 col-md-3 col-lg-3 control-label">Maliyet</label>
            <div class="col-sm-6 col-md-4 col-lg-2">
              <input type="text"
                     class="form-control"
                     name="cost"
                     [(ngModel)]="newTravel.cost"/>
            </div>
          </div>

          <div class="form-group">
            <label  class="col-sm-4 col-md-3 col-lg-3 control-label">Seyahat Başlangıcı</label>
            <div class="col-sm-8 col-md-6 col-lg-5">
              <input type="date" name="startDate" [(ngModel)]="newTravel.startDate"/>
              <!--<ng2-datepicker [options]="options"-->
                              <!--id="startDate"-->
                              <!--name="startDate"-->
                              <!--[(ngModel)]="newTravel.startDate">-->
              <!--</ng2-datepicker>-->
            </div>
          </div>

          <div class="form-group">
            <label  class="col-sm-4 col-md-3 col-lg-3 control-label">Seyahat Sonu</label>
            <div class="col-sm-8 col-md-6 col-lg-5">
              <input type="date" name="endDate" [(ngModel)]="newTravel.endDate"/>
              <!--<ng2-datepicker [options]="options"-->
                              <!--id="endDate"-->
                              <!--name="endDate"-->
                              <!--[(ngModel)]="newTravel.endDate">-->
              <!--</ng2-datepicker>-->
            </div>
          </div>
          <br/>
          <div class="form-group">
            <div class="col-sm-offset-4 col-md-offset-3 col-lg-offset-3 col-sm-8 col-md-9 col-lg-9">
              <button type="submit" class="btn btn-primary">İptal</button>
              <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
