<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Seyahat Sistemi</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/user/travelList">Anasayfa</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/">Welcome {{username}}</a></li>
          <li><a (click)="onLogout()" style="cursor: pointer;">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

