<app-nav-bar></app-nav-bar>

<div class="container table-responsive">
  <div class="row">
    <div class="form-inline">
      <form class="form-inline" action="${contextPath}/admin/selectUser" id="selectUserForm">
        <div class="form-group">
          <label class="col-sm-4 col-md-3 col-lg-3 control-label">Kullanıcı</label>
        </div>
        <div class="form-group">
          <select class="form-control" (change)="onChange($event.target.value)">
            <option [value]="user.id" *ngFor="let user of userList" >{{user.username}}</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <br><br>
  <div class="row">
    <form class="form-inline" (ngSubmit)="onSearch()">
      <div class="form-group">
        <input type="date" id="sDate" name="sDate" [(ngModel)]="sDate">
      </div>
      <div class="form-group">
        <input type="date" id="eDate" name="eDate" [(ngModel)]="eDate">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </div>
    </form>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Bölümü</th>
        <th>Bölüm Müdürü</th>
        <th>Seyahat Başlangcıcı</th>
        <th>Seyahat Sonu</th>
        <th>Seyahat Yeri</th>
        <th>Gidiş Amacı</th>
        <th>Proje Kodu</th>
        <th>Maliyet</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let travel of travelList">
        <td>{{travel.user.department}}</td>
        <td>{{travel.user.departmentHeader}}</td>
        <td>{{travel.startDate}}</td>
        <td>{{travel.endDate}}</td>
        <td>{{travel.destination}}</td>
        <td>{{travel.purpose}}</td>
        <td>{{travel.projectCode}}</td>
        <td>{{travel.cost}}--{{travel.id}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
