<app-nav-bar></app-nav-bar>
<div class="container table-responsive">
  <div class="row">
    <form class="form-inline" (ngSubmit)="onSearch()">
      <div class="form-group">
        <input type="date" id="sDate" name="sDate" [(ngModel)]="sDate">
      </div>
      <div class="form-group">
        <input type="date" id="eDate" name="eDate" [(ngModel)]="eDate">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </div>
    </form>
  </div>
  <div class="row">
    <a class="btn btn-info btn-xs pull-right" routerLink="/user/travelDefine">
      <span class="glyphicon glyphicon-plus-sign"></span>
    </a>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Bölümü</th>
        <th>Bölüm Müdürü</th>
        <th>Seyahat Başlangcıcı</th>
        <th>Seyahat Sonu</th>
        <th>Seyahat Yeri</th>
        <th>Gidiş Amacı</th>
        <th>Proje Kodu</th>
        <th>Maliyet</th>
        <th class="text-center">İşlemler</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let travel of travelList">
          <td>{{travel.user.department}}</td>
          <td>{{travel.user.departmentHeader}}</td>
          <td>{{travel.startDate}}</td>
          <td>{{travel.endDate}}</td>
          <td>{{travel.destination}}</td>
          <td>{{travel.purpose}}</td>
          <td>{{travel.projectCode}}</td>
          <td>{{travel.cost}}--{{travel.id}}</td>
          <td class="text-center">
            <a [routerLink]="['/user/editTravel', travel.id]" class="btn btn-success btn-xs">
              <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a class="btn btn-danger btn-xs" (click)="onDelete(travel)">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
