<div class="container">
  <div class="row">
    <div class="loginPanel">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">Giriş Paneli</div>
        </div>
        <div class="panel-body">
          <form (ngSubmit)="login()">
              <div style="margin-bottom: 25px" class="input-group">
                   <span class="input-group-addon">
                       <i class="glyphicon glyphicon-user"></i>
                   </span>
                   <input
                     id="username"
                     type="text"
                     class="form-control"
                     name="username"
                     [(ngModel)]="model.username"
                     placeholder="Kullanıcı Adı">
              </div>
              <div style="margin-bottom: 25px" class="input-group">
                  <span class="input-group-addon">
                      <i class="glyphicon glyphicon-lock"></i>
                  </span>
                  <input
                    id="password"
                    type="password"
                    class="form-control"
                    name="password"
                    [(ngModel)]="model.password"
                    placeholder="Şifre">
              </div>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <button type="submit" class="btn btn-success btn-block">Giriş</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
