<div class="container" id="seyahatDetayi">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Kullanıcı Bilgileri</strong>
    </div>

    <div class="panel-body">
      <form class="form-horizontal" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="col-sm-4 col-md-3 col-lg-3 control-label">Kullanıcı Adı</label>
          <div class="col-sm-8 col-md-6 col-lg-5">
            <input type="text"
                   class="form-control"
                   name="username"
                   [(ngModel)]="newUser.username"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 col-md-3 col-lg-3 control-label">Şifre</label>
          <div class="col-sm-8 col-md-6 col-lg-5">
            <input type="text"
                   class="form-control"
                   name="password"
                   [(ngModel)]="newUser.password"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 col-md-3 col-lg-3 control-label">Sicil Numarası</label>
          <div class="col-sm-8 col-md-6 col-lg-5">
            <input type="text"
                   class="form-control"
                   name="registrationNumber"
                   [(ngModel)]="newUser.registrationNumber"/>
          </div>
        </div>
        <div class="form-group">
          <label  class="col-sm-4 col-md-3 col-lg-3 control-label">Bölümü</label>
          <div class="col-sm-8 col-md-6 col-lg-5">
            <input type="text"
                   class="form-control"
                   name="deparment"
                   [(ngModel)]="newUser.department"/>
          </div>
        </div>
        <div class="form-group">
          <label  class="col-sm-4 col-md-3 col-lg-3 control-label">Bölüm Müdürü</label>
          <div class="col-sm-8 col-md-6 col-lg-5">
            <input type="text"
                   class="form-control"
                   name="departmentHeader"
                   [(ngModel)]="newUser.departmentHeader"/>
          </div>
        </div>
        <br><br>
        <div class="form-group" id="bilgilendirmeServisi">
          <div class="panel panel-default">
            <div class="panel-heading">
              <strong>Bilgilendirme Servisi</strong>
            </div>

            <div class="panel-body">
              <div class="form-group">
                <label class="col-md-3">
                  <input type="checkbox"
                         name="informing"
                         value="Açık"
                         [(ngModel)]="newUser.informing"/>&nbsp;&nbsp;Açık
                </label>
              </div>

              <div class="form-group" id="seyahatSistemi">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <strong>Seyahat Sistemi</strong>
                  </div>

                  <div class="panel-body">
                    <div class="form-group">
                      <div class="col-sm-8 col-md-6 col-lg-5">
                        <div class="btn-group" data-toggle="buttons">
                          <label>
                            <input type="radio"
                                   name="period"
                                   value="Haftalık"
                                   [(ngModel)]="newUser.period"/>&nbsp;Haftalık
                          </label>
                          <label>
                            <input type="radio"
                                   name="period"
                                   value="Aylık"
                                   [(ngModel)]="newUser.period"/>&nbsp;Aylık
                          </label>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-8 col-md-6 col-lg-5">
                        <select
                          class="form-control"
                          name="dayOfPeriod"
                          [(ngModel)]="newUser.dayOfPeriod">
                          <option value="Pazartesi">Pazartesi</option>
                          <option value="Salı">Salı</option>
                          <option value="Çarşamba">Çarşamba</option>
                          <option value="Perşembe">Perşembe</option>
                          <option value="Cuma">Cuma</option>
                          <option value="Cumartesi">Cumartesi</option>
                          <option value="Pazar">Pazar</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
              </div>
            </div>
          </div>
          <br/>
          <div class="form-group">
            <div class="col-sm-offset-4 col-md-offset-3 col-lg-offset-3 col-sm-8 col-md-9 col-lg-9">
              <button type="submit" class="btn btn-primary">İptal</button>
              <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
